.header-img {   
  background-image: url("../images/bg_header/about_us.jpg");
} 
.about-text{
  line-height: 1.4;
  font-size: 1.5rem;
  color: #5f6368;
}
.quote-icon-left{
  position: relative;
  margin-right: 10px;
  top: -10px;
}
.company-name{
  color: #008080;
}
.vision-container{
  background-color:#fafafa;
}
 
.how-we-do .card {
  border: none;
}

.we-do-card {
  border-radius: 8px;   
  margin-top: 1.2rem !important;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.we-do-card .icon {
  height: 100px;     
  margin: 0 auto;
  text-align: center;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  position: relative;   
}
.we-do-card .icon:before {
  position: absolute;
  content: "";
  color: #000;
  font-size: 1.6rem;
  left: 10px;
  top: 5px;
}
.we-do-card .icon-1:before {
  content: "01" !important;
}
.we-do-card .icon-2:before {
  content: "02" !important;
}
.we-do-card .icon-3:before {
  content: "03" !important;
}
.we-do-card .icon-4:before {
  content: "04" !important;
}
.we-do-card .icon-5:before {
  content: "05" !important;
}
.we-do-card .icon-6:before {
  content: "06" !important;
}
.we-do-card .content {
  text-align: center;   
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
   }
.we-do-card .title-2 {
  font-size: 18px !important;
  margin: 0 !important;
}
.contact-banner{
  background-color: #232934;
  color: #ffffff !important;
}
.contact-banner .title-2{
  color: #ffffff !important;
}
.contact-banner .title-caption{
  color: #d5d5d5 !important;
}
@media (max-width: 575.98px) {
  .mission-icon,
  .vision-icon {
    background-color: transparent;
  }
  .mission-text,
  .vision-text {
    display: block;
  }  
}
 
 

