.header-img{
  background-image: url("../images/careerpage-img.jpg");
  background-position: center;
}

/* loading indicator for open jobs */
.loading{
  z-index: 9999;
  width: 100%;
	height: 100px;
  background: url('../images/830.svg') center no-repeat #fff;
}
.work-with-card .card-body{
  margin: 0.4rem;   
  border: 1px solid rgba(0, 123, 255,0.2);
  border-radius: 0.8rem;
}
.work-with-card .icon{
  text-align: center;
}
.openings-wrap{
  background-color: #f3f7fa;
}
.job-item{
  background-color: #fafafa;
  border: 1px solid rgba(0, 106, 255,0.2);
  border-radius: 0.5rem;
  margin: 0.3rem 0.1rem;      
}
.job-item p{
  margin: 0;
  font-weight: 500;
  color: #444;
}
.job-item:hover{  
  text-decoration: none;
  border: 1px solid #00bcd4;    
}
.job-item .title-2{
  font-size: 16px !important;
  color: #008080;
}
@media (max-width: 575.98px) { 
   .job-item{
     flex-direction: column !important;
     padding: 1rem !important;
   }
   .job-item p{
     margin-left: 14px;
   }
 }